body{
    background-color: grey;
}
.birinci{
    position: absolute;
    top: 15px;
    left: 300px;
    width: 190px;
    height: 150px;
    background-color: white;
}
.ikinci{
    position: absolute;
    top: 15px;
    left: 500px;
    width: 190px;
    height: 150px;
    background-color: white;
}
.ucuncu{
    position: absolute;
    top: 15px;
    left: 700px;
    width: 190px;
    height: 150px;
    background-color: white;
}
.dorduncu{
    position: absolute;
    top: 180px;
    left: 300px;
    width: 190px;
    height: 150px;
    background-color: white;
}
.besinci{
    position: absolute;
    top: 180px;
    left: 500px;
    width: 190px;
    height: 150px;
    background-color: white;
}
.altinci{
    position: absolute;
    top: 180px;
    left: 700px;
    width: 190px;
    height: 150px;
    background-color: white;
}